<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Reg form</title>
</head>
<body>
 <h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    FirstName: <input type="text" th:field="${student.firstName}">
<!--    //or "*{firstName"}-->
    <br>
    LastName: <input type="text" th:field="${student.lastName}">
    <br>
    Country
    <select th:field="${student.country}">
       <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
<!--    <select th:field="${student.country}">-->
<!--        <option th:value="India">India</option>-->
<!--        <option th:value="France">France</option>-->
<!--    </select>-->
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>